/* Estilo Retro de 8 bits mejorado */
.quiz-container {
  max-width: 800px; /* Cambiado de width a max-width para que se ajuste al ancho máximo de la pantalla */
  margin: 100px auto; /* Centra el contenedor en el centro de la pantalla */
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #000; /* Negro para el fondo */
  padding: 30px 20px; /* Reduce el padding horizontal para pantallas más pequeñas */
  font-family: 'Press Start 2P', cursive;
  color: #fff; /* Texto en blanco */
  position: relative;
}

.total-question {
  font-size: 16px;
  font-weight: 500;
}

ul {
  margin-top: 20px;
  margin-left: 0; /* Elimina el margen izquierdo */
  padding: 0;
}

li {
  text-decoration: none;
  list-style: none;
  font-size: 16px;
  border: 1px solid #fff; /* Bordes en blanco */
  cursor: pointer;
  border-radius: 4px;
  padding: 11px;
  margin-top: 15px;
  background-color: #222; /* Fondo oscuro */
}

.selected-answer {
  background-color: #00f; /* Azul brillante para respuestas seleccionadas */
  border: 1px solid #00f;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

button {
  background-color: #ff0; /* Amarillo brillante para botones */
  border-radius: 4px;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 10px 20px; /* Reduce el padding horizontal para pantallas más pequeñas */
  cursor: pointer;
  margin-top: 20px;
}

/* Estilo de fuente retro de 8 bits */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: 'Press Start 2P', cursive;
}

/* Agrega una media query para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .quiz-container {
    padding: 20px; /* Redefine el padding para pantallas más pequeñas */
  }

  button {
    padding: 10px 16px; /* Redefine el padding de los botones para pantallas más pequeñas */
  }
}
